<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-02-04-表单</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../vue.js"></script>
    <style>
        .myclass{
            cursor: pointer;
            border: 1px solid #ddd;
            background-color: #2fd;
            padding: 10px;
        }
        .newclass{
            background-color: #f2d;
        }
    </style>
</head>
<body>
    <div class="container" id="app">
       <select name="" id="" v-model="opt" multiple="">
        <option value="">请选择</option>
           <option value="1">选项1</option>
           <option value="2">选项2</option>
           <option value="3">选项3</option>
       </select>
       选中的选项:{{opt}}
       <h3>联动菜单</h3>
       <select name="province" id="province" v-model="getProvince">
           <option value="0">-请选择-</option>
           <option v-for="p in pdata" :value="p.pid">{{p.name}}</option>
       </select>
       市区：
       <select name="city" id="city">
           <option value="">-请选择-</option>
           <option v-for="c in citys.data" :value="c.cid">{{c.cname}}</option>
       </select>
    </div>
    <script>
        let p = [
                    {
                        name:'四川', 
                        pid:1, 
                        citys:{
                            fid:1,
                            data:[
                                {cname:'成都', cid:1001},
                                {cname:'绵阳', cid:1002},
                                {cname:'德阳', cid:1003},
                                {cname:'达州', cid:1004}
                            ]
                        }
                    },
                    {
                        name:'重庆', 
                        pid:2, 
                        citys:{
                            fid:2,
                            data:[
                                {cname:'成都1', cid:2001},
                                {cname:'绵阳1', cid:2002},
                                {cname:'德阳1', cid:2003},
                                {cname:'达州1', cid:2004},
                                {cname:'达州1', cid:2005}
                            ]
                        }
                    }
                ];

        let v = new Vue({
            el:'#app',
            data:{
                opt:[2,3],
                pdata:p,
                province:0,
                city:0,
                citys:{fid:'0',data:[]}
            },
            computed:{
                getProvince:{
                    get:function () {
                        return this.citys.fid;
                    },
                    set:function (pid) {
                        if(pid == '0'){
                            this.citys = {fid:'0',data:[]};
                        }else{
                            this.citys = this.pdata[pid-1].citys;
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>