<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue学习</title>
</head>

<body>
    <div id="app">
        <form action="/login" method="post" name="myform"
            账号：<input type="text" name="username" v-model="myform.username">
            <hr>
            密码：<input type="password" name="passwd" value="" v-model="myform.passwd">
            <hr>
            <button @click="Login" type="button">登录</button>
            <div :class="tc" v-show="tips">{{tips}}</div>
        </form>
    </div>
</body>
</html>